* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(229, 206, 236);
}

.page {
    position: relative;
    width: 100%;
    height: 100vh;
}

.icons {
    display: flex;
    margin-left: 180vh;
    margin-top: -17px;
    font-size: 25px;
    gap: 25px;
}

.viper {
    position: absolute;
    left: 145vh;
    top: 20vh;
}

.vallogo {
    position: absolute;
    left: 5vh;
    top: -1vh;
}

li {
    display: inline;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
}

.info {
    position: absolute;
    top: 35vh;
    font-family: Comic Sans MS, Comic Sans, cursive;
    left: 5vh;
}

h5 {
    font-size: 30px;
    margin-bottom: -15px;
}

h2 {
    font-size: 100px;
    margin-bottom: -10px;
}

h3 {
    font-size: 40px;
    margin-bottom: -5px;
    color: #64148a;
}

h4 {
    font-size: 25px;
    margin-bottom: 15px;
}

button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #64148a;
    color: white;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    border: 0;
}

button:hover {
    background-color: rgb(40, 0, 58);
    transition: 0.2ms;
}



