@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow.woff2) format(woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eff6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Barlow;
}

.mainblock {
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 1400px;
  width: 100%;
  height: 90%;
}

.background {
  width: 100%;
  max-width: 700px;
}

.rightside {
  padding: 80px 75px 80px 75px;
  max-width: 700px;
}

.nocharge {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #96a5b1;
}

h3 {
  font-size: 30px;
  color: #7b8a92;
}

.facebook {
  width: 250px;
  padding: 10px;
  background-color: #255a9b;
  color: white;
  border: none;
  margin-right: 46px;
  cursor: pointer;
}

.facebook:hover {
  background-color: #153f74;
}

.facelogo {
  position: absolute;
  width: 19px;
  right: 89vh;
  top: 26vh;
}

.linkedin {
  width: 250px;
  padding: 10px;
  background-color: #0076b6;
  color: white;
  border: none;
  cursor: pointer;
}

.inlogo {
  position: absolute;
  width: 19px;
  right: 57.5vh;
  top: 26vh;
}

.linkedin:hover {
  background-color: #026092;
}

.or {
  font-size: 12px;
  text-align: center;
  margin: 50px 0px 50px 0px;
  position: relative;
}

.or::before,
.or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 115px;
  height: 1px;
  background: #eeeeee;
}

.or::before {
  left: 15vh;
}

.or::after {
  right: 15vh;
}

.note {
  font-size: 14px;
  color: #2a4a5c;
  width: 260px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.mail {
  width: 250px;
  padding: 15px;
  margin-right: 46px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  border-left: 2px solid #6ec5f3;
  outline: none;
}

.phone {
  width: 250px;
  padding: 15px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  outline: none;
}

.forms {
  position: relative;
}

.labelmail {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #afafaf;
  font-size: 12px;
}

.labelphone {
  position: absolute;
  top: 5px;
  left: 310px;
  color: #afafaf;
  font-size: 12px;
}

.what-type {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 30px;
}

.select-type {
  font-size: 15px;
  margin-bottom: 35px;
  color: #96a5b1;
}

.radiobutton {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}

input[type="radio"] {
  appearance: none;
  width: 17px;
  height: 17px;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: #43b1ec;
  box-shadow: 0 0 0 2px #43b1ec;
}

.radio-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.terms {
  display: flex;
  color: #2a4a5c;
  gap: 8px;
}

a {
  color: #6ec5f3;
}

.create {
  margin-top: 40px;
  width: 250px;
  font-size: 18px;
  padding: 10px;
  color: white;
  background-color: #3698fb;
  border: none;
  cursor: pointer;
}

.create:hover {
  background-color: #1771ca;
}

.logo {
  position: absolute;
  width: 120px;
  margin: 40px;
}